.create-service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 45px;
  padding-bottom: 15px;
  background: inherit;
  background: rgba(255, 255, 255, 0.059);
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
}

.icon-2-small-create {
  display: none;
}

.create-service-input-description {
  height: 130px;
  width: 100%;
}

.create-service-input-title {
  border-radius: 5px;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  margin-top: 5px;
}

.create-service-input-description {
  border-radius: 5px;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
}

.input-file-button {
  display: inline-flex;
  justify-content: left;
}

.create-service-input-file {
  margin-right: 10px;
}

.file-button {
  margin-top: 10px;
}

@media (min-width: 700px) {
  .create-service {
    margin-top: 90px;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .create-service > h2 {
    position: relative;
    bottom: 10px;
  }

  .button-plus {
    position: relative;
    left: 350px;
  }
}

@media (min-width: 1024px) {
  .button-plus {
    position: relative;
    left: 10px;
  }

  .icon-2-small-create {
    display: inline-block;
    width: 175px;
    margin: auto;
    margin-top: 30px;
  }
}
