main.userProfile {
  padding-top: 2rem;
}

div.avatar-username {
  display: flex;
  justify-content: center;
}

div.datosUser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 35px;
  padding-bottom: 15px;
  background: inherit;
  background: rgba(255, 255, 255, 0.059);
  -webkit-backdrop-filter: blur(5px) s;
  backdrop-filter: blur(5px);
  margin-bottom: 40px;
  border: 1px solid rgba(255, 255, 255, 0.086);
}

div.datosUser p {
  font-size: medium;
}

img.avatar-img {
  position: relative;
  left: 10px;
  margin-top: 35px;
  margin-bottom: 25px;
  box-shadow: 1px 3px 2px 2px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  text-align: center;
  object-fit: cover;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.avatar {
  font-size: 25px;
  position: relative;
  left: 140px;
  margin-top: 35px;
  margin-bottom: 25px;
  border: 1px solid rgba(255, 255, 255, 0.278);
  padding: 15px;
}

div.icon-username-profile {
  border: 1px solid rgba(255, 255, 255, 0.159);
  width: 38px;
  height: 38px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.username-p {
  position: absolute;
  top: 5px;
  left: 10px;
}

div.infoUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-left: 15px;
}

div.infoUser > p {
  padding-bottom: 10px;
  font-size: 14px;
}

h2.title-user-services {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

div.infoUser > p.modified-user {
  font-size: 11px;
  border-bottom: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

div.infoUser > p.modified-user.top {
  margin-top: 30px;
}

.linea {
  border-top: 1px solid rgba(203, 200, 200, 0.374);
  height: 2px;
  width: 230px;
}

@media (min-width: 700px) {
  main.userProfile {
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
  }

  div.datosUser {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.infoUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  div.infoUser > p.modified-user {
    font-size: 15px;
  }

  div.avatar-username {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clickUpdateUser {
    padding: 15px;
  }

  .username-p {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 17px;
  }
}
