div.modal-user-update {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 35px;
  padding-bottom: 15px;
  border-radius: 5px;
  background: linear-gradient(
    336deg,
    rgba(25, 24, 25, 0.551),
    rgba(57, 57, 57, 0.8)
  );
}

textarea.input-biography {
  height: 100px;
}

div.modal-user-update form {
  padding: 2px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.modal-user-update form label {
  margin-bottom: 4px;
}

div.modal-user-update h1 {
  position: relative;
  top: 3px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

div.modal-user-update button {
  color: white;
  width: 100px;
}

.modal-buttons {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 2px;
}

@media (min-width: 700px) {
  div.modal-user-update {
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
    margin-top: 35px;
    padding-bottom: 15px;
  }

  form.a > label {
    font-size: 19px;
    margin-bottom: 5px;
  }

  div.modal-user-update button {
    width: 120px;
    font-size: 16px;
  }

  h2.title-user-services {
    font-size: 30px;
  }
}
