.header-about {
  font-size: 14px;
  position: relative;
  top: 13px;
  right: 15px;
  margin-right: 10px;
}

.header-login {
  position: relative;
  font-size: 14px;
  top: 12px;
  right: 3px;
}

.header-register {
  position: relative;
  font-size: 14px;
  top: 12px;
  left: 3px;
}

@media (min-width: 700px) {
  div.aboutUs-no-login {
    margin-top: 110px;
  }

  .header-about {
    font-size: 20px;
    position: relative;
    top: 16px;
    right: 40px;
    margin-right: 10px;
  }

  .header-login {
    position: relative;
    font-size: 20px;
    top: 16px;
    right: 14px;
  }

  .header-register {
    font-size: 20px;
    position: relative;
    top: 16px;
    left: 3px;
  }
}
