nav.headerLogin {
  height: 60px;
}

.about-us-login {
  font-size: 16px;
  position: relative;
  margin-right: 5px;
  bottom: 8px;
}

.headerLogin-button {
  font-size: 16px;
  position: relative;
  top: 6px;
  right: 2px;
}

@media (min-width: 700px) {
  img.icon {
    position: relative;
    top: 3px;
  }

  .headerLogin-button {
    font-size: 22px;
    position: relative;
    right: 9px;
  }

  .about-us-login {
    font-size: 22px;
    position: relative;
    bottom: 9px;
    left: 10px;
  }
}
